[Unit]
Description=imon Internet Monitor for instance %I
Requires=network-online.target
After=network-online.target nss-lookup.target

[Service]
ExecStart=/root/.imon-venv/bin/python /usr/local/bin/imon --instance %I
User=root
StandardInput=null
Restart=on-failure

[Install]
WantedBy=multi-user.target
